* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #F4E6D3;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background-color: #c7ab86;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: left 0.3s;
    z-index: 10;
}

.menu-lateral.menu-aberto {
    left: 0;
}

.logo {
    font-size: 28px;
    cursor: pointer;
}

.user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

.user-info h3 {
    font-size: 16px;
}

.user-info p {
    font-size: 12px;
}

.settings {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.topbar {
    height: 60px;
    display: flex;
    align-items: center;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.content {
    height: calc(100% - 60px);
    display: flex;
    gap: 20px;
}

.chat-box {
    flex: 1;
    background-color: #e8dccb;
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
}

.message {
    max-width: 70%;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid black;

}

.ia {
    background-color: #d8c3a5;
}

.user {
    background-color: #b08968;
    margin-left: auto;
    color: white;
}

.chat-input {
    min-height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d8c3a5;
    border: 1px solid #9c795c;
    border-radius: 20px;
    padding: 12px;
}

.chat-input input {
    flex: 1;
    height: 45px;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.chat-input input::placeholder {
    color: #725c4c;
}

.chat-input button {
    height: 45px;
    padding: 0 20px;
    background-color: #8c674d;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #70503c;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    min-height: 0;
}

.code-container {
    width: 50%;
}

.content {
    display: flex;
    justify-content: space-between;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 3px solid purple;
}

#terminal {
padding: 30%;
background-color: #383737;
}

#feedback {
    padding: 11%;
    background-color: #b08968;

}